<!DOCTYPE html>
<html lang="es">

<head>
    <%-include('templates/header.ejs') %>
</head>

<body>
    <%-include('templates/navbar.ejs') %>
        <div class="container-fluid mt-5 container-main">
                <div class="d-flex align-items-center vh-90">
                    <div class="d-flex justify-content-between w-100">
                        <div class="card" style="width: 18rem;">
                            <img src="https://img.freepik.com/vector-premium/productos-alimenticios-estante-tienda-ilustracion-venta-estantes-supermercado-escaparate-tienda-alimentos-productos-comida-empaquetada-eleccion_102902-824.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Productos</h5>
                                <p class="card-text">Gestiona y ten el control de todos tus productos.</p>
                                <a href="/products" class="btn btn-index">Gestionar</a>
                            </div>
                        </div>

                        <div class="card" style="width: 18rem;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgYYZPsjBc58w3b79w0V2nCjKqqrE6TfsrFg&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Proveedores</h5>
                                <p class="card-text">Revisa que materia prima te llega.</p>
                                <a href="/suppliers" class="btn btn-index">Revisar</a>
                            </div>
                        </div>

                        <div class="card" style="width: 18rem;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEtyMk_uFYN2EaAvHV3veF6xDwUCnj_WtvrQ&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Usuarios</h5>
                                <p class="card-text">Supervisa quienes son tus proveedores.</p>
                                <a href="/users" class="btn btn-index">Supervisar</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="https://blog.legis.com.co/hubfs/Factura-electronica.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Facturacion</h5>
                                <p class="card-text">Realiza el seguimiento de tus ventas</p>
                                <a href="/sales" class="btn btn-index">Facturar</a>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>


        <%-include('templates/scripts.ejs') %>
</body>

</html>