<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" style="background-color: transparent;" href="/">Inicio</a>
                        <a class="nav-link active" style="background-color: transparent;" href="/products">Productos</a>
                        <a class="nav-link active" style="background-color: transparent;" href="/suppliers">Proveedores</a>
                        <a class="nav-link active" style="background-color: transparent;" href="/counts">Cuentas</a>
                        <a class="nav-link active" style="background-color: transparent;" href="/sales">Facturacion</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" >Gestion de Inventarios</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
